.row {
    display: flex;
    width: 1200px;
    margin: auto;
}
.col {
    margin: 10px;
    flex: 1 1 50%;
    overflow: hidden;
}
#buffer-ready {
    color: red;
    position: absolute;
    left: 30%;
    top: 30%;
}
.hidden {
    display: none;
}
#editor {
    /*width: 50%;*/
    height: 361px;
    /*top: 0;*/
    /*right: 0;*/
    /*bottom: 50%;*/
    /*left: 0;*/
}

#itog {
    /*width: 48%;*/
    height: 361px;
    /*top: 0;*/
    /*right: 0;*/
    /*bottom: 50%;*/
    /*left: 0;*/
}
